<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Static page</h2>
    <!--locals is pointing to full object that is passed from js, so it will not be undefined-->
    <h3>Hello <%= locals?.name || 'defaultName' %></h3>
</body>
</html>